# Emacs tempfiles
.#*
*#
.tern-port
# Emacs directory locals
.dir-locals.el

# Visual Studio Code Settings
.vscode
jsconfig.json

# IntelliJ stuff
.idea/
*.iml
*.swp
*.sublime-workspace
*.sublime-project
sftp-config.json
.remote-sync.json
.tags_swap
/tags
.DS_Store
._.unison*

# Kotlin, gRPC, Docker stuff
.gradle
build
*_pb2.py
*_pb2_grpc.py
?/
# You Complete Me, a vim plugin that provides ide like features.
.ycm_extra_conf.py
/.vim/
/.vscode/
tools/bin

# eclipse conf file
.settings
.classpath
.project
.factorypath

# maven
log/
target/

# data files
*.dat

# jEnv
.java-version
